version: "3.9"

services:
  hadoop:
    image: apache/hadoop:3.4.0
    container_name: hadoop
    hostname: hadoop
    ports:
      - "9870:9870"   # HDFS UI
      - "8088:8088"   # YARN UI
    networks:
      - bigdata-net
    tty: true
    command: /bin/bash

  hive:
    image: apache/hive:4.1.0
    container_name: hive
    hostname: hive
    depends_on:
      - hadoop
    ports:
      - "10000:10000"  # HiveServer2 port
    networks:
      - bigdata-net
    tty: true
    command: /bin/bash

  spark:
    image: apache/spark-py:v3.3.1
    container_name: spark
    hostname: spark
    depends_on:
      - hive
    volumes:
      - ./spark:/app
    networks:
      - bigdata-net
    ports:
      - "4040:4040"  # Spark UI
    tty: true
    command: /bin/bash

networks:
  bigdata-net:
    driver: bridge
